/* css page for index.html */

/* style for body */
body {
    background-color: silver;
}

/* styling for nav bar */
nav {
    font-family: monospace;
}

/* style for page title */
#page_title {
    text-align: center;
    font-family: monospace;
}

/* style for subtitle */
#subtitle {
    text-align: center;
    font-family: monospace;
}

/* style for music gif */
#music_gif {
    width: 25%;
    height: 25%;
    display: table;
    margin: auto;
}

/* style for caption */
#caption, #music_table_title {
    text-align: center;
    font-family: monospace;
}

/* style for audio player */
#audio_player {
    margin: auto;
    display: table;
} 

#file_input {
    margin: auto;
    display: table;
    font-family: monospace;
    text-align: center;
}

#song, #artist_name, #album, #uploader_name {
    margin:auto;
    display:table;
    font-family: monospace;
    text-align: center;
}

/* player container styling 
#player_container {
    margin: auto;
    font-family: monospace;
    align-items: center;
    justify-content: center;
} */

/* styling for buttons */
#upload, #search, #update, #delete {
    margin: auto;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

button.update, button.delete, input.upload, button.select {
    margin: auto;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

/* styling for successful functions */
#uploadGood, #searchGood, #updateGood, #delGood{
    margin: auto;
    display: table;
    font-family: monospace;
    text-align: center;
}

/* table container styling */
  table, th, td, tbody{
    margin: auto;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: whitesmoke;
    padding: auto;
    text-align: center;
} 


/* style for info */
#info {
    font-family: monospace;
}