/* css page for index.html */

/* style for body */
body {
    background-color: lightblue;
}

/* styling for nav bar */
nav {
    font-family: monospace;
}

/* style for page title */
#page_title {
    text-align: center;
    font-family: monospace;
}

/* style for subtitle */
#subtitle {
    text-align: center;
    font-family: monospace;
}

/* style for music gif */
#music_gif {
    width: 25%;
    height: 25%;
    display: table;
    margin: auto;
}

/* style for caption */
#caption, #music_table_title, #update_instructions, #rLink {
    text-align: center;
    font-family: monospace;
}

/* style for audio player */
#audio_player {
    margin: auto;
    display: table;
} 

/* styling for file inputs */
#file_input, #file_container {
    margin: auto;
    display: table;
    font-family: monospace;
    text-align: center;
    align-items: center;
    display: block;
}

/* styling for text fields */
#song, #artist_name, #album, #uploader_name, #mp3_text, #date_added, #release_year, #genre {
    margin:auto;
    display:inline-block;
    font-family: monospace;
    text-align: center;
}

#id {
    width: 5%;
    margin:auto;
    display:inline-block;
    font-family: monospace;
    text-align: center;
}

/* styling for hidden link text field */
#link {
    display: none;
}

/* player container styling 
#player_container {
    margin: auto;
    font-family: monospace;
    align-items: center;
    justify-content: center;
} */

/* styling for buttons */
#upload, #search, #update, #delete {
    margin: auto;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
/* styling for buttons */
button.update, button.delete, input.upload, button.select, #submit_info {
    margin: auto;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

/* table styling */
table, td, th, tr{
    margin: auto;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    border: 1px solid silver;
    background-color: lightcyan;
    padding: auto;
    box-shadow: 0 0 0 1px;
    text-align: center;
    border-style: solid;
} 
th {
    margin: auto;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    border: 1px solid silver;
    background-color: lightgray;
    padding: auto;
    box-shadow: 0 0 0 1px;
    text-align: center;
    border-style: solid;
}

/* style for upload container */
#upload_container {
    display: inline;
}

#upload_section {
    margin: auto;
    align-items: center;
    text-align: center;
}

/* style for info */
#info {
    font-family: monospace;
}